<div ng-controller="ForgotPasswordController" class="col-md-offset-4 col-md-6">
    <fieldset>
        <legend>Forgot Password</legend>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" class="form-control" ng-model="email" required autofocus placeholder="Email" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="ResetPassword()">
                <i class="fa fa-lock"></i> 
                Reset Password
            </button>
        </div>
    </fieldset>
</div>