<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default panel-body">
            <div class="col-md-offset-1">
                <form name="loginForm" ng-controller="LoginController" novalidate class="form-horizontal">
                    <fieldset>
                        <legend>Login</legend>
                        <p>Use local account to login</p>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" name="email" ng-model="login.email" placeholder="Email" class="form-control" autofocus required />
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" name="password" required ng-model="login.password" placeholder="Password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div class="btn-group-sm">
                                <button class="btn btn-primary" ng-click="Login(login)">Login</button>
                                <a class="btn btn-link" href="#/Register">Register</a>
                            </div>
                        </div>
                        <div>
                            <p class="text-info" ng-model="message"></p>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-controller="ExternalLoginProviders">
        <div class="panel panel-default panel-body">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Login using another service
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3" ng-repeat="Provider in Providers">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="GotoUrl(Provider.url)">{{Provider.name}}</button>
                        <input type="hidden" ng-model="Provider.url" value="{{Provider.url}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
