<div class="col-md-6 col-md-offset-3" style="margin-top: 5%">
    <tabset ng-controller="ProfileController" style="margin:0px">
        <tab>
            <tab-heading>
                Change Password
            </tab-heading>
            <div class="col-md-12 center-block">
                <div class="col-md-8">
                    <form class="form-horizontal" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label for="currentpassword">Current Password</label>
                                <input type="text" value="" required ng-model="currentpassword" placeholder="Current Password" autofocus class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="newpassword" class="control-label">New Password</label>
                                <input type="text" required ng-model="newpassword" class="form-control" placeholder="New Password" />
                            </div>
                            <div class="form-group">
                                <label for="newpassword" class="control-label">Confirm Password</label>
                                <input type="text" required ng-model="confirmpassword" class="form-control" placeholder="Confirm Password" />
                            </div>
                            <div class="col-md-offset-0">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="ChangePassword()">Change Password</button>
                                </div>
                            </div>
                            <div>
                                {{AuthData.userName}}
                            </div>
                            <div>
                                {{AuthData.token}}
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!--<div class="col-md-4">
                        <div>
                            <p>List of Errors</p>
                            <ul class="list-group list-unstyled list-group-item-danger">
                                <li class="list-group-item-danger">Error1</li>
                                <li>Error1</li>
                                <li>Error1</li>
                            </ul>
                        </div>
                    </div>-->
            </div>
        </tab>
        <tab select="GetUserProfile()">
            <tab-heading>
                Update Profile
            </tab-heading>
            <div>
                <dl class="dl-horizontal">
                    <dt>Email</dt>
                    <dd>{{userdata.email}}</dd>
                    <dt>Has Registered Local</dt>
                    <dd>{{userdata.hasRegistered}}</dd>
                    <dt>LoginProvier</dt>
                    <dd>{{userdata.loginProvider}}</dd>
                </dl>
            </div>
        </tab>
        <tab>
            <tab-heading>
                My Orders
            </tab-heading>
            <div class="col-md-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4 col-xs-4"><h5 class="list-group-item-heading">Order No</h5></div>
                            <div class="col-md-4 col-xs-4"><h5 class="list-group-item-heading">Order Date</h5></div>
                            <div class="col-md-4 col-xs-4"><h5 class="list-group-item-heading">Amount</h5></div>
                        </div>
                    </div>
                    <div class="list-group-item list-group-item-text" ng-repeat="Order in Orders">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <a ng-href="" class="btn btn-link text-center" ng-click="GetOrderDetails(Order.id)">{{Order.id}}</a>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{Order.orderDate | date : "dd-MM-yyyy"}}
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{Order.orderAmount | currency}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <p ng-show="message">{{message}}</p>
            </div>
        </div>
    </div>
</div>
